
.bord{
    border: 3px solid #032b03;
    border-width: 5px;
    border-radius: 60px;
}
h1 {
    text-align: center;
    font-size: 4.0rem;
    right: 50px;
    
}
p{
    text-align: center;
    font-size: 2.5rem;
}


.buttons {
    display: flex;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: #24babc;
    color: white;
    padding: 10px 20px;
    border: none;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 20px;
    transition: 0.3s;
    
}

.btn:hover {
    background-color: #214770;
}
